<form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="p-4 border rounded bg-light mb-4">
    <div class="mb-3">
      <label for="title" class="form-label">Título</label>
      <input id="title" formControlName="title" class="form-control" required />
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Descripción</label>
      <input id="description" formControlName="description" class="form-control"/>
    </div>
  
    <button class="btn btn-primary w-100" type="submit" [disabled]="taskForm.invalid">Agregar Tarea</button>
</form>
  